body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.navigation {
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.navigation a{
    margin-right:1rem;
}

.logos {
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
}

.apps {
    background-position:-132px -38px;
    opacity: .55;
}

.notifs {
    background-color: rgb(70, 65, 65);
    border-radius: 50%;
    background-position:-194px -21px;
    opacity: .55;
    height: 20px;
    width: 16px;
    padding: 0 2px;
}

.profile-pic {
    background-image:url("https://lh3.googleusercontent.com/--ymI3dhPpq4/AAAAAAAAAAI/AAAAAAAAAAA/APUIFaNpbUFGFs9BL3aoRxw8RvJ3T93gxQ/s32-c-mo/photo.jpg");
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-position:-120px -40px;
}

.search-global {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.content {
    /* background-color: brown; */
    padding: 0 1rem;
    margin-top: 0 auto;
    position: relative;
}

.search-area {
    text-align: center;
    /* background-color: pink; */
}

.search-area img{
    margin-bottom: 1.5rem;
}

.search-area .search-box{
    margin-bottom: 1.3rem;

}

.input-text {
    width: 29rem;
    height: 2rem;
    border: none;
    padding: 5px 0;
    padding-left: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms;
}

.input-text:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search-box img {
    position: absolute;
    height: 2.3rem;
    top: 7.6rem;
    right: 1.5rem;
}

.search-area .buttons{
    margin-bottom: 1.8rem;
}

.content input[type="submit"] {
    height: 2rem;
    color: #757575;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 0 .7rem;
    border-radius: .1rem;
    font-weight: 550;
    font-size:.8rem;

    transition: color 100ms;
    transition: border 100ms;
}

.search-language {
    font-size: 0.8rem;
}

.content input[type="submit"]:hover {
    color: black;
    border: 1px solid #757575;
    cursor: pointer;
}

.footer {
    background-color : #eaeaea;
    position:fixed;
    bottom:0;
    width:100%;
}

 .footer .footer1,
 .footer .footer2 {
    border-top: 1px solid rgb(126, 122, 122);
}
